
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'sudhu_web_design.css' %}">
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Fedex Hackathon</title>
    <style>
body {background-color: #B0B0B0;}
/* h1   {color: blue;} */
p    {color: red;}
</style>
  </head>
<body>


<div class="grid-container">
  <div class="Top_area">
    <div class="Right_side">
      <div class="about">
      <h3>Drexel Student Prototype</h3>
    </div>
    </div>
    <div class="Logo_png">
      <img src="{% static 'fedex_logo.png' %}"width="200" onclick="window.location.reload();" height="70"/>
    </div>
    <div class="marquee">
<h1>Voice Assistant </h1>
    </div>
    <div class="Wasted_area">
<marquee width="100%" direction="left" height="100%"> <strong><h1>Drexel Students</h1></strong></marquee>
    </div>
  </div>
    <!--<button onClick="window.location.reload();">Refresh Page</button>-->
  <div class="Remain_area">
    <div class="text_area"id="postTextToHtml"></div>
  </div>
</div>

    <cin id="my_div"><audio id="chime_in"></audio></cin>
      <cout id="my_div"><audio id="chime_out"></audio></cout>
<auddel id="aud_del"><img id="img_id"></img></auddel>
    <div class="Left_content">
  <siv id="my_div"><audio id="my_audio"></audio></siv>
</div>
    <!-- <audio id="myAudio">
  <source src="{% static 'welcome.mp3' %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
        var dura=15000;
        var user_audio;
          (function () {

            var newDiv = document.getElementById("postTextToHtml");
            var c = document.createElement("div")
              c.style.cssText = "color:#FE6600 ;font-size:25px;";
              newDiv.appendChild(c).appendChild(document.createTextNode("FedEx bot:"));
              var d = document.createElement("div")
                d.style.cssText = "color: #4B1383;font-size:20px;";
                newDiv.appendChild(d).appendChild(document.createTextNode("Hello this is fedex"));
                var e = document.createElement("div")
                  e.style.cssText = "color: #4B1383;font-size:20px;";
                  newDiv.appendChild(e).appendChild(document.createTextNode("Please start talking when the chime starts"));
            $('siv audio').attr("src", 'media/fedaud/welcome.mp3');
            $('siv audio').attr("type", 'audio/mp3');
            $('cin audio').attr("src", 'media/chime_in.mp3');
            $('cin audio').attr("type", 'audio/mp3');
            $('cout audio').attr("src", 'media/chime_out.mp3');
            $('cout audio').attr("type", 'audio/mp3');
            // document.getElementById("my_audio").play();
            const constraints = {audio: true};
            const btn = document.createElement('BUTTON');
            navigator.mediaDevices.getUserMedia(constraints).
              then(handleSuccess);
          function handleSuccess(stream) {
            var options = {
              bitsPerSecond : 128000,

            }
            recorder = new MediaRecorder(stream,options);
            recorder.ondataavailable = e => {
              chunks.push(e.data);
              if(recorder.state == 'inactive')  makeLink();

            };

          navigator.mediaDevices.getUserMedia(constraints).
            then(setTimeout(btn_click_auto, 12000));
        }

            function btn_click_auto()
              {
               setTimeout(arguments.callee, 12000);
                var d = document.createElement("div")
                  d.style.cssText = "color: #4B1383;font-size:20px;";
                  newDiv.appendChild(d).appendChild(document.createTextNode("Recording Started, Start Speaking"));

                chunks=[];
                j=recorder.state;
                // console.log(j);
                btn.id='screenshot-button';
                if (j!='recording'){
                  document.getElementById("chime_in").play();

                recorder.start();}
                // console.log("start")
                setTimeout(call_btn_fn, 6000);
              }
              function call_btn_fn(){
                var d = document.createElement("div")
                  d.style.cssText = "color: #4B1383;font-size:20px;";
                  newDiv.appendChild(d).appendChild(document.createTextNode("Recording Stopped!"));
                // console.log("stopping")
                document.getElementById("chime_out").play();
                recorder.stop();
                // console.log(recorder)
              }
              function makeLink(){
                let blob = new Blob(chunks, {type:'audio/wav; codecs=opus;' })
                  , url = URL.createObjectURL(blob)
                  , li = document.createElement('li')
                  , mt = document.createElement('audio')
                  , hf = document.createElement('a')
                ;
                mt.controls = true;
                // console.log(url)
                hf.href = url;
                hf.download = 'file1';
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function() {
                var base64data = reader.result.replace(/^data:.+;base64,/, '');
                btn.onclick=new_fn_button(base64data)
                }

              }
              function new_fn_button(base64data)
            {
              $.ajax({

                    url: 'ajax/detect_sound/',
                    type: "POST",
                    data: {
                      'captured_rec': base64data
                    },
                    success : function(json) {
                      post_img_fn();

                        },
                        error : function(xhr,errmsg,err) {
                        }
                  });

}
              function post_img_fn()
                {
                  li = document.createElement('li')

                  var img_re=$.ajax({
                    url: 'media/picture.json',
                    type: "GET",
                    datatype:'JSON'
                  });
                  img_re.success(function(data) {
                  var pics = data;
                  // console.log(pics.pictures[0].path);
                  var user_command=pics.pictures[0].path;
                  var respons_aud= pics.pictures[0].resp_aud;
                  var respons_txt= pics.pictures[0].resp_txt;
                  if (user_command == 'goodbye'){
                      window.opener = self;
                      window.close();
                  }


                  // li.appendChild("hey");
                  // ul.appendChild(li);
                  // pics.pictures[0].path
                  $('auddel img').attr("href", respons_aud);
                  user_audio = respons_aud
                  console.log(respons_aud)
                  var d = document.createElement("div")
                    d.style.cssText = "color: #4B1383;font-size:20px;";
                    newDiv.appendChild(d).appendChild(document.createTextNode(user_command));
                  // play_snd_fn(delayer_out);
                  var d = document.createElement("div")
                    d.style.cssText = "color: #4B1383;font-size:20px;";
                    newDiv.appendChild(d).appendChild(document.createTextNode(respons_txt));
                  console.log(user_audio);
                   $('siv audio').attr("src", user_audio);
                   document.getElementById("my_audio").play();
                  });

                  // play_snd_fn(delayer_out);
            }


            })();



        </script>
      </body>
    </html>
