
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fedex Hazckathon</title>
  </head>
  <body>
    <div>
      <ul  class="list-unstyled" id='ul'></ul>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
          (function () {
            const constraints = {audio: true};
            const btn = document.createElement('BUTTON');
            navigator.mediaDevices.getUserMedia(constraints).
              then(handleSuccess);
          function handleSuccess(stream) {
            var options = {
              bitsPerSecond : 128000,

            }
            recorder = new MediaRecorder(stream,options);
            recorder.ondataavailable = e => {
              chunks.push(e.data);
              if(recorder.state == 'inactive')  makeLink();
            };

          navigator.mediaDevices.getUserMedia(constraints).
            then(setTimeout(btn_click_auto, 10000));}

            function btn_click_auto()
              {
                setTimeout(arguments.callee, 10000);
                chunks=[];
                j=recorder.state;
                console.log(j);
                btn.id='screenshot-button';
                if (j!='recording'){
                recorder.start();}
                console.log("start")
                setTimeout(call_btn_fn, 6000);
              }
              function call_btn_fn(){
                console.log("stopping")
                recorder.stop();
                console.log(recorder)
              }
              function makeLink(){
                let blob = new Blob(chunks, {type:'audio/wav; codecs=opus;' })
                  , url = URL.createObjectURL(blob)
                  , li = document.createElement('li')
                  , mt = document.createElement('audio')
                  , hf = document.createElement('a')
                ;
                mt.controls = true;
                console.log(url)
                hf.href = url;
                hf.download = 'file1';
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function() {
                var base64data = reader.result.replace(/^data:.+;base64,/, '');
                btn.onclick=new_fn_button(base64data)
                }

              }
              function new_fn_button(base64data)
            {
              $.ajax({

                    url: 'ajax/detect_sound/',
                    type: "POST",
                    data: {
                      'captured_rec': base64data
                    },
                    success : function(json) {
                      post_img_fn();
                        },
                        error : function(xhr,errmsg,err) {
                        }
                  });

}
              function post_img_fn()
                {
                  li = document.createElement('li')
                  var img_re=$.ajax({
                    url: 'media/picture.json',
                    type: "GET",
                    datatype:'JSON'
                  });
                  img_re.success(function(data) {
                  var pics = data;
                  console.log(pics.pictures[0].path)
                  var user_command=pics.pictures[0].path

                  // li.appendChild("hey");
                  // ul.appendChild(li);
                  // pics.pictures[0].path
                  // $('siv img').attr("src", pics.pictures[0].path);

                  });
            }
            })();



        </script>
      </body>
    </html>
